.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers child blocks horizontally */
}

.title {
  text-decoration-line: underline;
  text-decoration-color: #08ad71;
  text-decoration-thickness: 4px;
  text-underline-offset: 0.2em;
  text-align: center;
  font-size: 4.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  color: #022912;
}

.subtitle {
  width: 65%;
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2.5rem;
  color: #ddd;
}

.buttonGroup {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  flex-wrap: wrap;
}

.button {
  background-color: #00a86b;
  border: none;
  padding: 1.6rem 2.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #007f55;
}

.backArrow {
  position: absolute; /* Add this */
  top: 1rem; /* Adjust as needed */
  left: 2rem;
  font-size: 52px;
  line-height: 2;
  cursor: pointer;
  color: #000000;
  transition: transform 0.2s ease;
}

.backArrow:hover {
  transform: translateX(-4px);
}
